{% extends 'base.html' %}


{% block content %}
<main>
  <div class="about-user">
    <div class="profile-img">
      <img src="{{user.profile_image.url}}" alt="" class="friend-img" >
    </div>
    <div class="profile-info">
      <div class="username-row">
        <h3>{{user.username}}</h3>
        {% if is_friend %}
        <form action="{% url 'users:follow_operation' user.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" name="unfollow" class="btn btn-secondary">Unfollow</button>
        </form>
        {% else %}
          <form action="{% url 'users:follow_operation' user.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="follow" class="btn btn-primary">Follow</button>
          </form>
        {% endif %}
      </div>
      <div class="followings-row">
        <div><b>100</b> posts</div>
        <div><b>{{followers}}</b> followers</div>
        <div><b>{{followings}}</b> following</div>
      </div>
      <div class="description-row">
        <div class="full-name">{{user.firstname}} {{user.lastname}}</div>
        <div class="user-info">{{user.info}}</div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}