body {
    background-color: #FAFAFA;
}

/** header **/
header {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #DBDBDB;
    background-color: #FFF;
}

header .content {
    width: 900px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 20px;
}

.logo a {
    text-decoration: none;
}

header .search .search-form {
    display: flex !important;
}

header .search .btn {
    padding: 0 15px !important;
    margin-left: 5px !important;
}

.profile {
    width: 80px;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 20px;
}

.dropdown-menu hr {
    margin: 3px !important;
}

/* dropdown */
.dropdown-text {
    margin-left: 5px;
}

.logout-item {
}
/* dropdown end */
/** header end **/

/** main **/
main {
    width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .posts {
    width: 550px;
    height: 500px;
    border: 1px solid #DBDBDB;
    background-color: #FFF;
}
/** main end **/

/** story block **/
.story-block {
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto 30px;
    background-color: #FFF;
    border: 1px solid #DBDBDB;
}

.story-block .arrow {
    color: black;
}

.ps-story {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid pink;

}

.ps-story:hover {
    border: 1px solid #DA2E78;
}

/** story block end **/


/* Profile page */
main .about-user {
    width: 800px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;

}

.username-row {
    display: flex;
}

.username-row .btn {
    position: relative;
    top: 3px;
    padding: 0 15px !important;
}

.username-row h3 {
    margin-right: 15px;
}

.profile-img {
    width: 170px;
}

.profile-info {
    width: 430px;
    margin-top: 30px;
}

.friend-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 80px;
}
.followings-row {
    display: flex;
    justify-content: space-between;
}

/* Login page */
.login-form {
    width: 900px;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.login-form .form {
    display: flex;
    flex-direction: column;
}











