{% extends 'base.html' %}

<!--{% block navbar %}-->

<!--<navbar>-->
<!--    <a href="{% url 'users:logout' %}">Log out</a>-->
<!--</navbar>-->
<!--<h1>Main page</h1>-->

<!--{% endblock navbar %}-->

{% block content %}

<div class="story-block">
    <a href="#" class="arrow"><i class="bi bi-arrow-left-circle-fill"></i></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="arrow"><i class="bi bi-arrow-right-circle-fill"></i></a>
</div>
<main>
    <div class="content">
        <h1>main page</h1>
    </div>
    {% block sidebar %}
    {% endblock sidebar %}
</main>
{% endblock content %}