{% extends 'base.html' %}

<!--{% block navbar %}-->

<!--<navbar>-->
<!--    <a href="{% url 'users:logout' %}">Log out</a>-->
<!--</navbar>-->
<!--<h1>Main page</h1>-->

<!--{% endblock navbar %}-->

{% block content %}

<div class="story-block">
    <a href="#" class="arrow"><i class="bi bi-arrow-left-circle-fill"></i></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="ps-story"></a>
    <a href="#" class="arrow"><i class="bi bi-arrow-right-circle-fill"></i></a>
</div>
<main>
    <div class="content">
        <div class="posts">
            {% for post in posts %}
                <div class="post-item">
                    {% if post.post_image %}
                        <img src="{{post.post_image.url}}" alt="post image" class="post-item__img">
                    {% endif %}
                    <h4 class="post-item__title">{{post.title}}</h4>
                    <p class="post-item__description">{{post.description}}</p>
                    <a href="{% url 'users:profile' post.author.id %}" class="post-item__author">{{post.author}}</a>
                  </div>
            {% endfor %}
        </div>
        <div class="sidebar">
            <h6 class="sidebar-title">Following</h6>
            {% for friend in friends %}
                <a href="{% url 'users:profile' friend.id %}" class="friend-item">
                    <img src="{{friend.profile_image.url}}" alt="" class="friend-img" >
                    <p class="friend-name">{{friend}}</p>
                </a>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}